
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handwriting:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* light background color */
    --primary-color: #edf2f2;

    /* dark background color */
    --secondary-color: #212121;

    /* dark navbar color */
    --teriary-color: #1b1b1b;

}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--primary-color) !important;
}

.content-table {
    border-collapse: collapse;
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    margin: 15% auto;
    align-items: center;
    font-size: 18px;
    min-width: 400px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

.content-table thead tr {
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f8f8f8;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1b1b1b;
}

.td-title {
    font-weight: 600;
}