/* index.jsp | navbar */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handwriting:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* light background color */
    --primary-color: #edf2f2;

    /* dark background color */
    --secondary-color: #212121;

    /* dark navbar color */
    --teriary-color: #1b1b1b;

}

body{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--primary-color)!important;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--teriary-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    color: #111;
    background: #fff;
}

nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"]{
    display: none;
}

@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }

    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul{
        left: 0;
    }

    nav ul li{
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked ~ ul li a{
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: cyan;
    }
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: var(--teriary-color);
}

.content div{
    font-size: 40px;
    font-weight: 700;
}

.home-content{
    width: 1230px;
    background-color: #fff;
    line-height: 80px;
    padding-top: 15px;
    text-align: center;
    align-items: center;
    border-radius: 20px;

}

.signature{
    font-size: 20px!important;
    font-weight: 400;
}

/* login */
.error-field {
    width: 60%;
    padding: 0 10px;
    margin: 10% auto;
    background-color: tomato;
}

.error-field-login {
    width: 60%;
    padding: 0 10px;
    margin: 10% auto;
    background-color: tomato;
    text-align: center;
}

div.sign-txt{
    text-align: center;
}

.wrapper-login{
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px;
    margin: 10% auto;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    align-items: center;
}

.wrapper-login header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper-login form{
    margin: 40px 0;
}

.wrapper-login a{
    color: #5372F0;
    text-decoration: none;
}

.wrapper-login a:hover{
    text-decoration: underline;
}

form .field{
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake{
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100%{
        margin-left: 0px;
    }
    20%, 80%{
        margin-left: -12px;
    }
    40%, 60%{
        margin-left: 12px;
    }
}

form .field .input-area{
    height: 50px;
    width: 100%;
    position: relative;
}

form input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input{
    border-color: #5372F0;
}

form .field.shake input,
form .field.error input{
    border-color: #dc3545;
}

.field .input-area i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon{
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}

.input-area .error-icon{
    right: 15px;
    color: #dc3545;
}

form input:focus ~ .icon,
form .field.valid .icon{
    color: #5372F0;
}

form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
    color: #bfbfbf;
}

form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
}

form .field .error-txt{
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}

form .field .error{
    display: none;
}

form .field.shake .error,
form .field.error .error{
    display: block;
}

form .pass-txt{
    text-align: left;
    margin-top: -10px;
}

.wrapper a{
    color: #5372F0;
    text-decoration: none;
}

.wrapper a:hover{
    text-decoration: underline;
}

form input[type="submit"]{
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    background: #2c52ed;
}

::selection{
    color: #fff;
    background: #5372F0;
}
.wrapper{
    width: 380px;
    height: 600px!important;
    margin-top: 200px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
}
.wrapper form{
    margin: 40px 0;
}

form .field{
    width: 100%;
    margin-bottom: 20px;
}
form .field.shake{
    animation: shake 0.3s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        margin-left: 0px;
    }
    20%, 80%{
        margin-left: -12px;
    }
    40%, 60%{
        margin-left: 12px;
    }
}
form .field .input-area{
    height: 50px;
    width: 100%;
    position: relative;
}
form input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input{
    border-color: #5372F0;
}
form .field.shake input,
form .field.error input{
    border-color: #dc3545;
}
.field .input-area i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}
.input-area .icon{
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}
.input-area .error-icon{
    right: 15px;
    color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
    color: #5372F0;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
    color: #bfbfbf;
}
form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
}
form .field .error-txt{
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}
form .field .error{
    display: none;
}
form .field.shake .error,
form .field.error .error{
    display: block;
}
form .pass-txt{
    text-align: left;
    margin-top: -10px;
}
.wrapper a{
    color: #5372F0;
    text-decoration: none;
}
.wrapper a:hover{
    text-decoration: underline;
}
form input[type="submit"]{
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
form input[type="submit"]:hover{
    background: #2c52ed;
}

/* clock - footer */
.clock {
    background: var(--teriary-color);
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding: 10px 50px;
    flex-wrap: wrap;
    text-align: center;
}

nav{
    display: flex;
    background: var(--teriary-color);
    justify-content: space-between;

}

.clock-time,
.clock-ampm {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #eeeeee;
}

.clock-time {
    font-size: 38px;
}

/* welcome.jsp - table */

.content-table {
    border-collapse: collapse;
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    margin: 15% auto;
    align-items: center;
    font-size: 18px;
    min-width: 400px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

.content-table thead tr {
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f8f8f8;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1b1b1b;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.td-title {
    font-weight: 600;
}

/* Farham is typing -> [ farham - lalai - farzad -BABA ]*/
/* String */
.string{
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px;
    margin: 5% auto;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    align-items: center;
}

.string header{
    font-size: 35px;
    font-weight: 600;
    text-align: center!important;
}


.input-area-string{
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    position: relative;
    align-items: center;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 18px;
    border-color: #bfbfbf;
    border-bottom-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.string-output{
    margin-top: 0;

}

.content-table-string {
    border-collapse: collapse;
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    margin: 5% auto;
    align-items: center;
    font-size: 18px;
    min-width: 400px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
}

.content-table-string thead tr {
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

/* Account Page */

input .delete-account {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: tomato;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.wrapper-account {
    width: 380px;
    height: 680px!important;
    margin: auto;
    margin-top: 100px;
    padding: 40px 30px 100px 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}

.wrapper-account header{
    font-size: 35px;
    font-weight: 600;
}
.wrapper-account form{
    margin: 40px 0;
}

.wrapper-account a{
    color: #5372F0;
    text-decoration: none;
}

.wrapper-account a:hover{
    text-decoration: underline;
}

.confirm-field {
    width: 75%;
    padding: 0 10px;
    margin: 10% auto;
    background-color: #7EBD2F;
    text-align: center;
    color: white;
}

.username-delete {
    color: #ff2305;
}

.account-div {
    display: inline-block!important;
}

.acc-td {
    padding: 5px;
}

.delete-input-account {
    height: 50px; 
    width: 150px; 
    background: #ff2305; 
    color: white; 
    cursor: pointer;
}

.delete-input-account:hover {
    background: #c41b04;
}

.update-input-account {
    height: 50px; 
    width: 150px; 
    background: #5372F0; 
    color: white; 
    margin-bottom: 30px;
}

/* Strings Page */
.strings-output{
    margin: -215px auto;
}

.string {
    margin-bottom: 0;
}

/* Register */
.error-field-register {
    width: 60%;
    padding: 0 10px;
    margin: 10% auto;
    background-color: tomato;
}